.EmiratesLoveHeaderContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;
}
.HeaderLogo{
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.HeaderLogo .HeaderLogoHeartIcon{
    font-size: 4.5em;
    color:#E94B4B;

}
.HeaderLogo .LogoTradmarkIcon{
    font-size: x-small;
}
.HeaderLogo h1{
    font-size: xx-large;
    line-height: 26px;
    text-transform: uppercase;
    color: #585857;

}
.HeaderNavigationLinks  {
    width: 40%;  
}

.HeaderNavigationLinks ul.NavigationItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
}
.HeaderNavigationLinks ul li{
    list-style: none;
    display: inline;
}
.HeaderNavigationLinks ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.HeaderButton .TellUsYourStoryCTA {
    height: 46px;
    width: 159px;
    left: 586px;
    top: 0px;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    background: #F10034;
    color: white;
    font-weight: bolder;
    border: none;
}