.testimonal-section-container{
    width: 100%;
    padding-top: 5%;
}

.slider-wrapper{
    width: 66%;
    position: relative;
    margin: auto;
}

svg.testimonial-quote {
    position: absolute;
    left: 20px;
    bottom: 265px;
}
.testimonial-quote {
    position: absolute;
    bottom: 170px;
    left: 125px;
}
.testimonial-quote p {
    font-size: 19px;
    color: #010A44;
    line-height: 1.6;
    margin-bottom: 46px;
    font-family: "Montserrat", sans-serif;
}

.testimoinal-info {
    width: fit-content;
    display: flex;
    margin-top: 27%;
    padding-left: 75px;;
}

.testimonial-text {
    margin-top: 9%;
}
.testimonial-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #1d2547;
}
.testimonial-text h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #646d77;
}


.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    left: 28%;
    bottom: 45px;
}
/* Customize the navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #ba937a;
  font-size: 10px;
}

/* Change the color of the navigation buttons on hover */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fba4d2;
}
.swiper-button-prev:after, .swiper-button-next:after {
font-size: 15px;
}

.swiper-button-prev {
    position: absolute;
    left: 73%;
    top: 87%;
  }
  
  .swiper-button-next {
    position: absolute;
    right: 17%;
    top: 87%;
}
section.testimonal-section-container::after {
    content: '';
    width: 65%;
    height: 2px;
    display: block;
    background: #F2F2F2;
    margin: auto;
    margin-top: 4%;
        
}
/* Hide the navigation buttons on small screens */
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}